@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/* this is used to reset defaut styling */
*{
    margin: 0 ;
    padding: 0 ;

    /* background: black; */

    box-sizing: border-box;

    /* border: 1px solid red */
}

html{
    scroll-behavior: smooth !important;
}

                          /* Default section of webpage */

/* Container of all sections which acts as default for all class naming container */
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 80px;
}

/* for responsive images */
.img-responsive{
    max-width: 100%;
    height: auto;
}
.card{
    padding: 50px;
    background: url(images/black.jpg);
    border-radius: 10px;
    text-align: center;
    height: 100%;
    width: 33.33%;
    transition: all 0.5s ease;
}

.lines{
    /* width: 100%; */
    position: relative;
}

/* Aboutme skills contact me */
/* .lines::before{
    position: absolute;
    width: 100px;
    background: crimson;
    content: "";
    height: 3px;
    top: 50%;
    left: 35% ;
}
.lines::after{
    height: 3px;
    position: absolute;
    width: 100px;
    background: crimson;
    content: "";
    right: 35%;
    bottom: 37%;
} */

/* services and projects */
.row{
    width: 100%;
    position: relative;
}

.row::before{
    position: absolute;
    width: 80px;
    background: crimson;
    content: "";
    height: 3px;
    top: 50%;
    left: 35% ;
}
.row::after{
    height: 3px;
    position: absolute;
    width: 80px;
    background: crimson;
    content: "";
    right: 35%;
    bottom: 37%;
}




                                           /* NAVBAR Styling */
.navbar{
    width: 100%;
    padding: 15px 0;
    z-index: 999999 ;
    font-family: "Ubuntu" , sans-serif;
    transition: 0.6s;
    background: linear-gradient( to right, #141819 69%, #13191A 31%);
}
.navbar-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo > img {
    width: 70px;
    height: 60px;
}
.nav-menu{
    display: flex;
}
.nav-menu li {
    list-style-type: none;
    margin: 0 15px;
}
.nav-menu li > a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.nav-menu li > a:hover{
    color: crimson;
    transition: all 0.5s;
}
.nav-menu li > a::after{
    content: "";
    width: 0% ;
    display: block;
    height: 2px;
    background: crimson;
    transition: all 0.5s;
    margin: auto;
    margin-top: 4px;
}
.nav-menu li > a:hover::after{
    width: 100%;
}
.nav-menu li > a:active::after{
    width: 100%;
}
body > nav > div > div > ul > li:nth-child(1) > a.active{
    color: crimson; 
}

                   /* HOME OF THE WEBSITE */
.home{
    display: flex;
    align-items: center;
    height: 100vh; 
    min-height: 600px;
    background: url(images/tryy.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Ubuntu" , sans-serif;
}

.home .container{
    width: 100%;
}
.home .container .home-content{
    color: white ;
    margin-bottom: 200px;
}
.home .container .home-content > .text-1{
    font-size: 35px;
    font-weight: 300;
}
.home .container .home-content > .text-2{
    font-size: 80px;
    font-weight: 700;
    color: crimson;
    text-shadow: 3px 3px 4px rgb(0, 0, 0) ;
}
.home .container .home-content > .text-3{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 25px;
}

/* @keyframes added in text 3 for typing animation */



.animate{
    color: crimson ;
    font-size: 42px ;
    width: 16.5em;
    border-right: .1em solid crimson ;
    width: 21ch ;
    /* margin: 2em 1em; */
    white-space: nowrap;
    overflow: hidden ;
 animation: typing 7s steps(14, end),
     blink-caret .5s step-end infinite alternate; 
     font-weight: 500;
     text-shadow: 1px 1px 4px rgb(0, 0, 0);
}

@keyframes typing {
     from {
         width: 0% ; }
     to {width: 100%;}
 }
@keyframes blink-caret { 50% { border-color: transparent ;} }
                  /* button Styling */
.btn{
    font-size: 25px;
    text-decoration: none;
    color: crimson;
    border: 2px solid crimson;
    border-radius: 5px;
    padding: 8px 10px;
    transition: all 0.5s ease;
}
.btn:hover{
    background: crimson;
    color: white;
    border: 2px solid crimson;
    border-radius: 5px;
  
}

/* illustation images styling */
.home .container .illustrate-img > img{
    width: 600px;
    height: 500px;
}

             /* About me Section  */
.about-me{
    padding-block: 100px ;
    font-family: "Ubuntu" , sans-serif;
    background: url(images/white.jpg) no-repeat center center / cover;
    background-size: cover;
    background-attachment: fixed;
}
.about-me-content .title{
    text-align: center ;
    margin-bottom: 50px;
}
.about-me-content .title > h2 {
    font-size: 40px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.about-me-content .title > p{
    font-weight: 500;
    font-size: 20px;
    color: crimson;
}
.about-me .container .about-me-content .about-me-content-div{
    display: flex ;
    align-items: center;
    flex-wrap: nowrap;
    gap: 100px;
    padding: 0 150px;
}
.about-me-img {
    align-items: center;
    width: 50%;
}
.about-me-img > img {
    border-radius: 8px;
    box-shadow: 0 0 4px 4px rgb(0, 0, 0);
}
.about-me-details{
    width: 50%;
    padding: 20px 0;
    align-items: center;
}
.about-me .container .about-me-content .about-me-content-div .about-me-details > h4{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.about-me .container .about-me-content .about-me-content-div .about-me-details > span{
    font-size: 30px;
    text-shadow: 0 0 2px white;
}
.about-me .container .about-me-content .about-me-content-div .about-me-details > p{
    margin-bottom: 28px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}
.about-me .container .about-me-content .about-me-content-div .about-me-details > a{
    padding: 10px;
    margin-top: 20px;
    color: rgb(0, 0, 0) ;
    background: crimson;
    transition: all 0.5s ease;
    box-shadow: 0 0 2px 2px rgb(255, 255, 255);
    cursor: pointer ;
}
.about-me .container .about-me-content .about-me-content-div .about-me-details > a:hover{
    color: rgb(255, 255, 255);
    box-shadow: 0 0 2px 2px rgb(255, 255, 255);

}

                    /* Service Section Styling */
.service{
    /* width: 100%; */
    background: #13191A ;
    font-family: "Ubuntu", sans-serif;
    color: white;
    padding-block: 100px ;

}
.service .container{
    align-items: center;
}
.service-title{
    text-align: center;
    margin-bottom: 40px;
}
.service-title > h3{
    font-size: 40px;
    color: white;
    margin-bottom: 6px;
    font-weight: 600 ;
}
.service-title > p {
    font-size: 20px;
    font-weight: 500;
    color: crimson;
}
.service-contents{
    display: flex;
    gap: 35px;
   padding: 0 50px;
   justify-content: center;
}
.service-contents .card{
    border-radius: 5px;
    padding: 50px;
    background: black;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
    
    justify-content: center;
}
.service-contents .card > i {
    color: crimson;
    max-width: 400px;
    height: auto;
    font-size: 48px;
    margin-bottom: 16px;
}
.service-contents .card > p {
    font-size: 23px;
    font-weight: 500;
}
/* hover part of service */
.service-contents .card:hover{
    background: crimson ;
    transform: scale(1.12);
}
.service-contents .card:hover i{
    color: white;
}

/* Skills section Styling */
.skills-sec{
    padding-block: 100px;
    font-family: "Ubuntu", sans-serif ;
    background: #ECECEC;
}
.skills-title{
    text-align: center;
    margin-bottom: 55px;
}
.skills-title > h4{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 7px;
}
.skills-title > p {
    color: crimson;
    font-size: 20px;
    font-weight: 500;
}
.skills-content{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    line-height: 25px;
    gap: 25px;
}
.skills-content .skills-content-left{
    width: 50%;
}
.skills-content-left > .par-1 {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 15px;
}
.skills-content-left > .par-2{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 30px;
    word-spacing: 6px;
}
.skills-content-left > a{
    background: crimson;
    color: white;
    transition: all 0.5s ease;
    font-weight: 400;
}
.skills-content-left > a:hover{
    background: rgb(255, 255, 255);
    color: crimson;
}

/* .skills content right */
.skills-content-right{
    width: 50%;
    font-size: 20px;
    font-weight: 500;
}
.bar{
    margin-bottom: 15px;
}
.info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}
.skills-content-right .bar .line{
    width: 100%;
    background: white;
    position: relative;
    height: 5px ;
}
.skills-content-right .bar .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
    margin-bottom: 8px;
}
.skills-content-right .bar .html::before{
    width: 90%;
}
.skills-content-right .bar .css::before{
    width: 60%;
}
.skills-content-right .bar .js::before{
    width: 80%;
}
.skills-content-right .bar .figma::before{
    width: 50%;
}
.skills-content-right .bar .git::before{
    width: 70%;
}


/* MY projects sections Stylings  */
.projects-sec{
    background: #13191A ;
    font-family: "Ubuntu", sans-serif;
    color: white;
    padding-block: 100px ;

}
.projects-sec .container{
    align-items: center;
}
.projects-title{
    text-align: center;
    margin-bottom: 40px;
}
.projects-title > h3{
    font-size: 40px;
    color: white;
    margin-bottom: 6px;
    font-weight: 600 ;
}
.projects-title > p {
    font-size: 20px;
    font-weight: 500;
    color: crimson;
}
.projects-contents{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    width: 100%;
}

.projects-contents .card{
    width: unset;
}
.rect{
    margin-bottom: 25px;
}
.projects-contents > a{
    text-decoration: none;
    transition: all 0.5s ease;

}
.rect > img {
    width: 100%;
    border-radius: 10px;
}
.projects-contents .card > p {
    font-size: 25px;
    font-weight: 500;
    color: white;
}
/* hover part of My PROJECTS */

.projects-contents .card:hover{
    background: crimson ;
    transform: scale(1.05);
}


/* contact section Styling */
.contact-me{
    padding-block: 100px;
    font-family: "Ubuntu", sans-serif;
    background: #ECECEC;
}
.contact-me-title {
    text-align: center;
    margin-bottom: 50px;
}
.contact-me-title > h5{
    color:rgb(0, 0, 0) ;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 8px;
}
.contact-me-title > p{
    color: crimson;
    font-weight: 500;
    font-size: 20px;
}
.contact-me-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
        /* left */
.left{
    width: 50%;
}
.head-1{
    font-size: 22px;
    color: black;
    font-weight: 600;
    margin-bottom: 20px;
}

.word-1{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 4px;
}

.left-item-1{
    display: flex;
    font-weight: 400;
    gap: 25px;
    align-items: center;
    margin-bottom: 22px;
    padding: 6px;
}
.left-item-1 > i{
    color: crimson ;
    font-size: 30px;
    align-items: center;
}

.left-item-1 > i{
    align-items: center;
}



            /* right */
.right{
    width: 50%;
}
.head-2{
    font-size: 22px;
    color: black;
    font-weight: 600;
    margin-bottom: 20px;
}
.input-field-1{
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    gap: 10px;
}
.input-field-1 .inputs{
    height: 100%;
    padding: 8px 10px;
    width: 100%;
    font-size: 20px;
    border-radius: 6px;
    font-family: "Ubuntu", sans-serif;
    border: none;
    outline: none;
    color: crimson;
}

.input-field-2 .inputs{
    width: 100%;
    padding: 8px 10px;
    font-size: 20px;
    border-radius: 6px;
    margin-bottom: 16px;
    font-family: "Ubuntu", sans-serif;
    border: none;
    outline: none;
    color: crimson;
}
.input-field-3{
    width: 100%;
    height: 100% ;
}
.input-field-3 textarea{
    width: 100%;
    height: 100px;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 8px;
    resize: none;
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
    border: none;
    outline: none;
    color: crimson;
}
form > .btn{
    color: white;
    background: crimson;
}
form > .btn:hover{
    color: crimson;
    background: #ECECEC;
}


/* .copyright-dev styling */

.footer > .footer-container{
    max-width: 1800px;
}
.copyright-dev{
    background: #13191A ;
    font-family: "Ubuntu", sans-serif ;
    text-align: center;
    padding-block: 6px;
    color: white;
    font-weight: 400;
}

.scroll-btn{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    cursor: pointer;
    margin-right: 10px;
    background: #ECECEC;
    position: relative;
}
.scroll-btn .scroll{
    width: 40px;
    height: 40px;
    background-color: crimson;
    padding: 8px;
    border-radius: 6px;
    position: relative;
    top: 20px;
    transition: all 0.5s ease;

}
.scroll-btn .scroll:hover{
    background: #ECECEC;
    box-shadow: 0 0 4px 4px crimson;
}



/* nav-toggler css start */
.nav-toggler {
    border:none;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: white;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  /* nav-toggler css ends */



/* ............................Media Queries Styling............................. */

/* media queries for ipad and tablet */

@media screen and (max-width: 768px){

    .container{
        max-width: 720px;
        padding: 0;
    }
    .nav-bar{
        background: #141819 ;
    }
    .nav-menu{
        display: block;
    }
    .nav-toggler{
        display: block;
    }
    .navbar-content {
        min-height: 60px;
        padding: 0 20px;
        margin-top: 0px;
    }
    .navbar-content .nav-menu {
        z-index: 9999;
        position: absolute;
        width: 100%;
        height: calc(100vh - 60px);
        left: 0;
        top: 94px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #141819 ;
        background-size: cover;
        background-position: center;
        max-height: 0;
        overflow: hidden;
        transition: .3s;
    }
    .navbar-content .nav-menu li {
        width: 100%;
        text-align: center;
    }
    .navbar-content .nav-menu li a {
        padding: 25px;
        color: #fff;
        font-size: 28px;
    }
    .navbar-content .nav-menu.open {
        max-height: 100vh;
        overflow: visible;
    }
    .home .container .home-content > .text-1{
        font-size: 50px;
    }
    .home .container .home-content > .text-2{
        font-size: 100px;
    }
    
    .home .container .home-content > .text-3 {
        font-size: 50px;
    }
    .btn{
        padding: 14px 30px;
        background: crimson;
        color: #fff;
    }
    .about-me .container .about-me-content .about-me-content-div{
        padding: 0;
        gap: 50px;
    }
    .service-contents{
        padding: 0;
    }
    .service-contents .card{
        padding: 40px;
    }
    .skills-content{
        flex-direction: column;
    }
    .skills-content .skills-content-left{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .skills-content-left > .par-2{
        margin-bottom: 40px;
    }
    .skills-content-right{
        width: 100%;
    }
    .input-field-3{
        margin-bottom: px;
    }
    .contact-me{
        padding-block: 50px;
    }

    .name{
        width: 100%;
    }
    .email{
        width: 100%;
    }
    .left{
        width: 40%;
    }
    .right{
        width: 60%;
        text-align: center;
    }
    .back{
        padding: 0 20px;
    }

}

/* media queries for mobile */

@media screen and (max-width: 480px){
    
    .container{
        max-width: 380px;
        padding: 0;
    }
    .navbar-content{
        align-items: center;
    }
    .home{
        background-attachment: local;
        min-height: 500px;
        display: block;
        padding-block: 60px ;
    }
    .home .container .home-content{
        margin-bottom: 0;
        padding-block: 100px;
    }
    .home .container .home-content > .text-1{
        font-size: 28px;
    }
    .home .container .home-content > .text-2{
        font-size: 55px;
        line-height: 60px;
    }
    .home .container .home-content > .text-3 {
        font-size: 34px;
        line-height: 50px;
    }
    .btn{
        padding: 8px 10px;
    }
    .about-me{
        padding-block: 50px;
    }
    .about-me .container .about-me-content .about-me-content-div{
        flex-wrap: wrap;
        gap: 50px ;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
    .about-me-img{
        width: 100%;
    }
    .about-me-details{
        width: 100%;
        text-align: center;
    }
    .service{
        padding-block: 50px;
    }
    .service-contents{
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
    .skills-sec{
        padding-block: 50px;
    }
    .skills-title{
        margin-bottom: 25px;
    }
    .skills-content{
        flex-direction: column;
    }
    .skills-content .skills-content-left{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .skills-content-right{
        width: 100%;
    }
    .projects-contents{
        flex-direction: column;
    }
    .contact-me{
        padding-block: 50px;
    }
    .contact-me-contents{
        flex-direction: column;
    }
    .left{
        width: 40%;

    }
    .left-item-1{
        width: 50%;
    }
    .right{
        width: 100%;
        text-align: center;
    }
    .projects-sec{
        padding-block: 50px;
    }
    .input-field-1{
        flex-direction: column;
    }
    .contact-me-title{
        margin-bottom: 25px;
    }
}