@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/* this is used to reset defaut styling */
*{
    margin: 0 ;
    padding: 0 ;

    /* background: black; */

    box-sizing: border-box;

    /* border: 1px solid red */
}

                           /* Container of all sections which acts as default for all class naming container */
.container{
    max-width: 1300px;
    margin: auto;
    padding: 0 80px;
}

.img-responsive{
    max-width: 100%;
    height: auto;
}

                                           /* NAVBAR Styling */
.navbar{
    width: 100%;
    padding: 15px 0;
    z-index: 999999 ;
    /* background: rgb(0, 0, 0); */
    /* position: fixed ; */
    font-family: "Ubuntu" , sans-serif;
    transition: 0.6s;
    /* box-shadow: 0 1px 2px 2px crimson; */
    background: #13191A;
}
.navbar-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .logo a{
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-weight: 600 ;
}
.logo a:hover{
    transition: all 0.5s ease;
    color: crimson;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
} */
.logo > img {
    width: 70px;
    height: 60px;
}

.nav{
    display: flex;
}
.nav li {
    list-style-type: none;
    margin: 0 15px;
}
.nav li > a{
    text-decoration: none;
    /* background: crimson; */
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.nav li > a:hover{
    color: crimson;
    transition: all 0.5s;


}
.nav li > a::after{
    content: "";
    width: 0% ;
    display: block;
    height: 2px;
    background: crimson;
    transition: all 0.5s;
    margin: auto;
    margin-top: 4px;
}
.nav li > a:hover::after{
    width: 100%;
}

.nav li > a:active::after{
    width: 100%;
}

body > nav > div > div > ul > li:nth-child(1) > a.active{
    color: crimson; 
}

                   /* HOME OF THE WEBSITE */
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    min-height: 600px;
    background: url(images/tryy.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Ubuntu" , sans-serif;
}

.home .container{
    width: 100%;
}
.home .container .home-content{
    color: white ;
}
.home .container .home-content > .text-1{
    font-size: 35px;
    font-weight: 300;
}
.home .container .home-content > .text-2{
    font-size: 80px;
    font-weight: 700;
    color: crimson;
    text-shadow: 3px 3px 4px rgb(0, 0, 0) ;
}
.home .container .home-content > .text-3{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 25px;
}

/* @keyframes added in text 3 for typing animation */



.animate{
    color: crimson ;
    font-size: 42px ;
    width: 16.5em;
    border-right: .1em solid crimson ;
    width: 21ch ;
    /* margin: 2em 1em; */
    white-space: nowrap;
    overflow: hidden ;
 animation: typing 7s steps(14, end),
     blink-caret .5s step-end infinite alternate; 
     font-weight: 500;
     text-shadow: 1px 1px 4px rgb(0, 0, 0);
}

@keyframes typing {
     from {
         width: 0% ; }
     to {width: 100%;}
 }
@keyframes blink-caret { 50% { border-color: transparent ;} }
                  /* button Styling */
.btn{
    font-size: 25px;
    text-decoration: none;
    color: crimson;
    border: 2px solid crimson;
    border-radius: 5px;
    padding: 8px 10px;
    transition: all 0.5s ease;
}
.btn:hover{
    background: crimson;
    color: white;
    border: 2px solid crimson;
    border-radius: 5px;
  
}

/* illustation images styling */
.home .container .illustrate-img > img{
    /* border: 5px solid red; */
    width: 600px;
    height: 500px;
}

             /* About me Section  */
.about-me{
    padding-block: 100px ;
    font-family: "Ubuntu" , sans-serif;
    background: url(images/white.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.about-me-content .title{
    text-align: center ;
    margin-bottom: 50px;
}
.about-me-content .title > h2 {
    font-size: 40px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.about-me-content .title > p{
    font-weight: 500;
    font-size: 20px;
    color: crimson;
}
.about-me .container .about-me-content .about-me-content-div{
    display: flex ;
    align-items: center;
    flex-wrap: nowrap;
    gap: 100px;
    padding: 0 150px;
}
.about-me-img {
    align-items: center;
    width: 50%;
}
.about-me-img > img {
    border-radius: 8px;
    box-shadow: 0 0 4px 4px rgb(0, 0, 0);
}
.about-me-details{
    width: 50%;
    padding: 20px 0;
    align-items: center;
}
.about-me .container .about-me-content .about-me-content-div .about-me-details > h4{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.about-me .container .about-me-content .about-me-content-div .about-me-details > span{
    font-size: 30px;
    text-shadow: 0 0 2px white;
}
.about-me .container .about-me-content .about-me-content-div .about-me-details > p{
    margin-bottom: 28px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}
.about-me .container .about-me-content .about-me-content-div .about-me-details > a{
    padding: 10px;
    margin-top: 20px;
    color: rgb(0, 0, 0) ;
    background: crimson;
    transition: all 0.5s ease;
    box-shadow: 0 0 2px 2px rgb(255, 255, 255);
    cursor: pointer ;
}
.about-me .container .about-me-content .about-me-content-div .about-me-details > a:hover{
    color: rgb(255, 255, 255);
    box-shadow: 0 0 2px 2px rgb(255, 255, 255);

}