@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

/* this is used to reset defaut styling */
*{
    margin: 0 ;
    padding : 0 ;

    /* this is used to get the exact width of an element margin and padding are incuded in the width of that partcular element */
    box-sizing: border-box ; 


    /* this is used to remove underline form achor tags */
    text-decoration: none ;

}

.navbar{
    /* position: fixed; */
    width: 100% ;
    padding : 30px 0 ;
    font-family: "Ubuntu" , sans-serif;
}

.container{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav{
    display: flex;

}

body > nav > div > div > ul > li{
    list-style: none;
}

.nav-links{
    margin-right: 15px;
}