:root {
 
    --color-primary: #0D0E0A ;
    --color-secondary: #FFF68A ;
    --color-primary-text: #232223 ;
    --color-muted-text: #888888 ;
    --color-black: #000 ;
    --color-white: #fff ;
    --color-input: #181818; 

    --color-facebook:  #3b5998 ;
    --color-twitter:#1DA1F2;
    --color-youtube: #FF0000 ;
    --color-phone: #3ddc84 ;
    --color-location:  #c93543;
    --color-envelpoe: #ffa500 ;  
   
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary:  'Lato', sans-serif;   

    --background-services: #E5E5E5 ;
    --background-about-us: #EFEFEF ;

}
