.secondary-btn{
    margin-left: 6.2rem;
    a{
        .btn-text{
            padding: 1rem 1.8rem;
            background-color: var(--color-secondary);
            outline: none;
            border-radius: .2rem;
        }
    }
}

.primary-btn{
    a{
        .btn-text{
            color: var(--color-white);
            padding: 1.4rem 3rem;
            background: var(--color-black);
            border-radius: .2rem;
        }
    }
}